/*Estilize o botão conforme suas preferências */
.sava-button{
     background-color: red;
     color: aliceblue;
     border: none;
     padding: 10px 20px;
     font-size: 61px;
     cursor: pointer;
     opacity: 0.8; /* Opacidade */
     transition: opacity 0.3 ease; /* Transição suave */
     border-radius: 5%;
}
.save-button:hover{
     opacity: 1; /* Opacidade
}
